<form [formGroup]="changeKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Keywords to be replaced</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="publicationKeywordsFrom">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Replacing key words</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="publicationKeywordsTo">
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-3 col-sm-6">
        <div *ngIf="changeKeywordsForm.controls['publicationKeywordsTo'].hasError('fieldsMatch')" class="form-text text-danger">
          Both fields can't have the same value.
        </div>
      </div>
      <div class="col-sm-3">
        <button type="submit" [disabled]="!changeKeywordsForm.valid" class="btn btn-outline-secondary col-4 float-end">
          Replace
        </button>
      </div>
    </div>
  </form>