.accordion {

    .accordion-item {

        .accordion-header {
            color: var(--accent-color-contrast);
            background-color: var(--accent-color-1);
        }

        .accordion-button {
            color: var(--accent-color-contrast);
            background-color: var(--accent-color-1);
        }

        .accordion-body {
            background: #{$mpg-light-gray};

            input {
                background: white;
            }
        }
    }
}

