.pure-bottom-10 {
    bottom: 10%;
}

.accordion {

    .accordion-item {

        .accordion-header {
            color: var(--accent-color-contrast);
            background-color: var(--accent-color-1);
            margin-bottom: 1px;
            border: none;
        }

        .accordion-button {
            color: var(--accent-color-contrast);
            background-color: var(--accent-color-1) !important;
            border: none;
        }

        .accordion-body { 
            margin-bottom: 1em;
        }
    }

    .header_second_color {
        background-color: var(--accent-color-2) !important;

        .accordion-button {
            background-color: var(--accent-color-2) !important;
        }
    }

    .header_third_color {
        background-color: var(--accent-color-3) !important;

        .accordion-button {
            background-color: var(--accent-color-3) !important;
        }
    }

    h3 {
        font-size: 0.9em;
    }
    
    h4 {
        font-size: 0.91em;
    }
    
    h5 {
        font-size: 0.92em;
    }
}

.box-grey {
	background: var(--main-content-background-color);
	color: var(--main-content-text-color);
	clear: both;
	float: none;
	margin: 1em 0 1em 0;
	padding: 1em 2em 1em 2em;
    border: none;
}

.description {
    margin: 1em 0;
}


// DEV
h1 {
    color: var(--main-title-text-color);
    line-height: 2em;
    font-size: 1.8em;
}

h2 {
    color: var(--main-title-text-color);
    line-height: 1.5em;
    font-size: 1.2em;
}

.content {
    font-size: medium;
}