.header {
  height: 100px;
  transition: all 0.3s ease;

  #logo {
    height: 140px;
    width: 140px;
  }

  &.scrolled {
    height: 50px;

    #logo {
      margin-left: 70px;
      width: 70px;
      height: 70px;
    }
  }

  #brand {
    font-size: 2.2rem; 
    font-family: "Roboto", "Tahoma", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--bs-body-color);
  }

  #search {
    
    .input-group-text {
      height: 2.2rem;
    }
  }
}
