pure-info-panel {

    
    .row {
        position: fixed;
        top: 105px;
        z-index: 1032;
    
        &.scrolled {
            //visibility: hidden;
            position: fixed;
            top: 50px;
            transition: all 0.1s ease;
        }

        height: 35px;
        background-color: var(--bs-body-bg) !important;
    }


}