pure-info-panel {

    
    .row {
        position: fixed;
        top: 100px;
        z-index: 1032;
    
        &.scrolled {
            //visibility: hidden;
            position: fixed;
            top: 50px;
            transition: all 0.3s ease;
        }

        height: 45px;
        padding-top: 5px;
        background-color: var(--bs-body-bg) !important;
    }


}