<footer>
    <div class=eins></div>
    <div class=zwei></div>

    <div class=drei>
        <img class="Logos" src="/assets/Footer/Logo.svg" alt="" aria-hidden="true" (click)="openLink(linkHomepage)">
        <img class="Pubman" src="/assets/Footer/Pubman.svg" alt="" aria-hidden="true" (click)="openLink(linkPubman)">

        <div class="flexGrow"></div>

        <div class=impressum (click)="openLink(linkImpressum)">
            <p class=footerText>Impressum</p>
        </div>

        <div class=datenschutz (click)="openLink(linkDatenschutz)">
            <p class=footerText>Datenschutzerklärung</p>
        </div>

        <div class=cookie (click)="openLink(linkCookies)">
            <p class=footerText>Cookie Einstellungen</p>
        </div>

    </div>
</footer>