:host-context(.dark-mode) footer {
  --footer-backgroundColor: #00445f;
  --footer-textColor: white;
}

footer {
  --footer-backgroundColor: #00445f;
  --footer-textColor: white;

  //height: 302px;
  // position: absolute;
  bottom: 0;
  width: auto;
  //z-index: 999;
  position: relative;
}

.eins {
  margin-bottom: -2px;
  height: 100px;
  width: 100%;

  background: no-repeat url("/assets/Footer/ObererTeil.svg");

  img {
    width: 100%;
  }
}

.zwei {
  background: no-repeat url("/assets/Footer/UntererTeil.svg");
  img {
    width: 100%;
  }
}

.drei {
  background-color: var(--footer-backgroundColor);
  display: flex;
  padding: 0 15vw;
  align-items: center;
  flex-wrap: wrap;
}

.Logos,
.Pubman {
  height: 55px;
  margin: 29px 64px;
  cursor: pointer;
}

.footerText {
  color: var(--footer-textColor);
  text-align: left;
  text-decoration: underline;
  font-size: 16px;

  font: normal normal bold 18px/23px Merriweather;
  letter-spacing: 0.36px;
  opacity: 1;
}

.impressum,
.datenschutz,
.cookie {
  margin: 29px 33px;
  cursor: pointer;

  p {
    display: inline;
  }
}

.flexGrow {
  flex-grow: 1;
}

@media (max-width: 599px) {
  .drei {
    flex-direction: column;
    align-items: start;
    padding: 19px 16px;
  }

  .impressum,
  .datenschutz,
  .cookie {
    margin: 16px 0;
  }

  .Logos,
  .Pubman {
    margin: 16px 0;
  }
}