<nav id="header" class="navbar navbar-light navbar-expand-xxl p-0 fixed-top header bg-light" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container-fluid" id="header_container">
    <div class="d-block d-xxl-none">
      <pure-sidenav [mobile]="true"></pure-sidenav>
    </div>

    <div class="offset-1 navbar-brand d-flex align-items-center">
      <div class="d-none d-xxl-block">
        <a [routerLink]="['/']">
          <img id="logo" src="assets/images/mpg_blue.svg" />
        </a>
      </div>
      <a id="brand" [routerLink]="['/']">
        <span class="ms-3">{{'header.brand.name'| translate}}</span>
      </a>
    </div>

    <button id="side_nav_toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header_nav"
      aria-controls="header_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- d-lg-flex reqired! correspondent to navbar-expand-lg -->
    <div class="collapse navbar-collapse d-xxl-none" id="header_nav">
    
      <pure-mainnav class="row col-10"></pure-mainnav>   

    </div>
  </div>
</nav>

<!--
<ng-template #rt let-r="result" let-t="term">
  @if(r.type === 'person') {
    <i class="bi bi-person-fill me-1"></i>
  }
  @else if (r.type === 'org') {
    <i class="bi bi-building-fill me-1"></i>
  }
  @else if (r.type === 'title') {
    <i class="bi bi-file-text-fill me-1"></i>
  }
  <span [innerHTML]="r.value | sanitizeHtmlCitation"></span>
</ng-template>
-->
