// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
}

/**
 * Basic typography style for copy text
 */
body {
  // background: linear-gradient(0deg, $dark-grey, $light-grey) fixed;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-control {
  padding: 0.25rem 0.5rem;
}

.form-select {
  padding: 0.25rem 2.25rem 0.25rem 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "wght" 500, "GRAD" 0, "opsz" 48;
  vertical-align: middle;
  /*line-height: 0 !important;*/
  position: relative;
  top: -1px;
  /*
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  */
}

.pure-invalid {
  color: rgb(var(--bs-danger-rgb));
  font-size: 0.875em;
}

/* Required for mobile view */
.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}


button > .material-symbols-outlined {
  top: 0px;
}

/* Required for citations from backend */
.Italic {
  font-style: italic;
}

ngb-typeahead-window {
  max-width: 60%;

  .dropdown-item {
    text-wrap: wrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
  }
}
.accordion {
  .accordion-button {
    box-shadow: none !important;
  }
}

/*Thumbnails in item list view */
.item-list-element .img-thumbnail {
  filter: grayscale(50%) opacity(50%);
  object-fit: contain;
  min-height: 120px;

}

.item-list-element:hover .img-thumbnail {
  filter: grayscale(0%) opacity(100%);
}
