<h1>PID (Handle) not yet registered</h1>

<div class="warning">
    <p>The persistent ID (PID) you have accessed does not yet redirect to a publication or file in MPG.PuRe. This is
        probably because registration in the global Handle system
        <span class="nowrap"><a href="https://www.handle.net/">https://www.handle.net/</a></span> has not yet been completed. This usually happens
        without delay, but in some cases it can take up to several hours.
    </p>
</div>

<p>If you suspect that the Handle registration is permanently not working, please contact the PuRe support team:
    <span class="nowrap"><a href="mailto:pure-support@listsrv.mpg.de">pure-support@listsrv.mpg.de</a></span>
</p>

<div class="contact-info">
    <p><strong>Note:</strong> Once you have navigated to this page using a Handle, your browser may temporarily remember
        this address, even though the PID has now been registered. To check this, you may need to clear your browser
        cache or reopen the Handle in a private browser tab/window on your next attempt.</p>
</div>