<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.publication.keywordsReplace' | translate }}</h4>
  <div class="my-2">
    <span>
      {{ 'batch.actions.metadata.publication.keywordsReplace.info' | translate }}
    </span>
  </div>

  <form [formGroup]="_chooseMethodForm">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">{{ 'batch.actions.metadata.publication.keywordsReplace.method' | translate }}</label>
      <div class="col-sm-3">
        <select class="form-select" formControlName="keywordsReplaceMethod">
          <option value="REPLACE_ALL" selected>{{ 'batch.actions.metadata.publication.keywordsReplace.method.all' | translate }}</option>
          <option value="REPLACE_BY_VALUE">{{ 'batch.actions.metadata.publication.keywordsReplace.method.specific' | translate }}</option>
        </select>
      </div>
    </div>
  </form>

  @if(keywordsReplaceMethod.match('REPLACE_BY_VALUE')) {
  <pure-change-keywords-form />
  }
  @if(keywordsReplaceMethod.match('REPLACE_ALL')) {
  <pure-replace-keywords-form />
  }
</div>