<h1>PID (Handle) noch nicht registriert</h1>

<div class="warning">
    <p>Die persistente ID (PID), die Sie aufgerufen haben, leitet noch nicht zu einer Publikation oder einer Datei in
        MPG.PuRe weiter. Das liegt wahrscheinlich daran, dass die Registrierung im weltweiten Handle-System
        <span class="nowrap"><a href="https://www.handle.net/">https://www.handle.net/</a></span> noch nicht abgeschlossen ist. Das passiert
        normalerweise ohne Verzögerung, kann in einzelnen Fällen aber bis zu mehreren Stunden dauern.
    </p>
</div>

<p>Falls Sie die Vermutung haben, dass die Registrierung des Handles dauerhaft nicht funktioniert, wenden Sie sich bitte
    an das PuRe-Support-Team:
    <span class="nowrap"><a href="mailto:pure-support@listsrv.mpg.de">pure-support@listsrv.mpg.de</a></span>
</p>

<div class="contact-info">
    <p><strong>Hinweis:</strong> Wenn Sie ein Handle einmal auf diese Seite geführt haben, kann es sein, dass Ihr
        Browser sich diese Adresse vorübergehend merkt, obwohl die Registrierung der PID inzwischen erfolgt ist. Um dies
        zu überprüfen, kann es daher erforderlich sein, vor dem nächsten Versuch den Browser-Cache zu löschen oder das
        Handle in einem privaten Browser-Tab/Fenster erneut aufzurufen.</p>
</div>