<div class="form-control box-grey">

    <div class="description">
      The ORCID stored in CoNE for the selected person will be added to the
      items. Any existing values will be overwritten.
    </div>

    <form [formGroup]="changeOrcidForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3 row">
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control searchfield" name="personSearch"
              placeholder="Please enter a person">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group" hidden>
            <input class="form-control" formControlName="creatorId" readonly>
            <input class="form-control" formControlName="orcid" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!changeOrcidForm.valid" class="btn col-1 float-end">
            Add
          </button>
        </div>
      </div>
    </form>

  </div>
