<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div formArrayName="fields">
      @for (currentFormGroup of fields.controls; track currentFormGroup; let i = $index;) {

        <div [formGroupName]="i">
          <!--
          <pure-search-base-criterion [searchForm]=searchForm [criterion]=criterion [index]=i (addSearchCriterion)="addSearchCriterion()" />
    -->
          <div class="row mt-1 w-100 align-items-center">
            @if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.OPERATOR) {
              @if(i!=0) {
              <!--Operator -->
              <div class="col-1" formGroupName="content">
                <select class="form-select form-select-sm" formControlName="operator">
                  <option value="AND">AND</option>
                  <option value="OR">OR</option>
                  <option value="NOT">NOT</option>
                </select>
              </div>
              }
            }
            @else {
            <!--Type -->
            <div class="col-2">
              <select class="form-select form-select-sm" formControlName="type" (change)="changeType(i, t.value)" #t>
                @for(searchType of searchTypeKeys; track searchType) {
                <option value="{{searchType}}">
                  {{searchType}}
                </option>
                }
              </select>

            </div>

            <!-- Input -->
            <div class="col-2" >
              @if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.STANDARD) {
                <div formGroupName="content">
                  <input type="text" formControlName="text"/>
                </div>
              }
            </div>

            <div class="col-1 ms-auto">
              <!-- WARNING!!!-->
              <!-- if type is omitted, submit will trigger remove ... -->
              <button type="button" class="btn btn-sm" (click)="addSearchCriterion(i, $any(currentFormGroup))">
                <strong>+</strong>
              </button>
              <button type="button" class="btn btn-sm" (click)="removeSearchCriterion(i)">
                <strong>-</strong>
              </button>
            </div>
            }
          </div>
        </div>

      }

      <div class="btn-grid mt-2">

        <button type="button" class="btn btn-sm btn-outline-info"
                [disabled]="searchForm.invalid || fields.controls.length === 0" (click)="show_form()">
          show form
        </button>

      </div>
    </div>
  </form>

  @if (result) {
    <pre>{{result | json}}</pre>
  }

  <pre>{{$any(esfields) | json}}</pre>
</div>
