// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";/* You can add global styles to this file, and also import other style files */


// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here



// 8. Add additional custom code here

@import "./themes_pure";
