@import 'abstract';
@import 'vendor/bs_pure';
@import 'vendor/normalize';
@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'base';
@import 'components';


/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';
