<nav>
  <a [routerLink]="['/home']">
    <span class="material-symbols-outlined">Home</span>
  </a>
  @for(breadcrumb of breadcrumbs$ | async; track breadcrumb.label; let last = $last) {
    @if(breadcrumb.label) {
      @if(breadcrumb.label !== 'Home') {
        <span class="text-muted"> &gt; </span>
        @if(last) {
          <span class="last">{{ breadcrumb.label }}</span>
        } @else {
          @if(!breadcrumb.active) {
            <span>{{ breadcrumb.label }}</span>
          } @else {
          <span>
            <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
          </span>
          }
        }
      }
    }
  }
</nav>

<!--nav>
  <a [routerLink]="['/home']">
    <span class="material-symbols-outlined">Home</span>
  </a>

  @for(crumb of breadcrumbs; track crumb.label; let last = $last) {
    @if(crumb.label !== 'Home') {
      <span class="text-muted">{{ separator }}</span>
      @if(last) {
        <span class="last">{{ crumb.label }}</span>
      } @else {
        <a [routerLink]="crumb.url">
          <span>{{ crumb.label }}</span>
        </a>
      }
    }
  }
</nav-->